
.button {
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-size: 20px;
    -fx-padding: 13px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}
.label{
    -fx-font-size: 25px;
    -fx-alignment: center;
    -fx-padding: 10 ;
}
.slider{
    -fx-padding: 20;
}

.creatureButtonInShop {
    -fx-max-width: infinity;
    -fx-hgrow-policy:always;
}
#hBoxForUserArmy, #hBoxForArmyShop{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-pref-width: 880;
    -fx-alignment: center;
}
#bigLabel{
    -fx-font-weight: bold;
    -fx-alignment: center;
}
